.page {
  background-color: darkkhaki;
}

.header {
  display: flex;
  justify-content: center;
  margin-block-end: 50px;
}

.main {
  padding-inline: var(--gap-sections);
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-sections);
}

.section {
  display: grid;
}

.section__title {
  justify-self: center;
  margin-block-end: 10px;
}

.section__load-button,
.section__textarea {
  display: block;
}

.section__load-button {
  margin-block-end: 30px;
  justify-self: center;
  font-size: 1em;
}

.section__textarea {
  font-size: 16px;
  width: 100%;
  height: 50vh;
  resize: vertical;
}

.section__label {
  display: inline-block;
  align-self: start;
  background-color: lightgrey;
  border-radius: 10px;
  margin-block-end: 10px;
  padding-left: 15px;
}



